@font-face {
    font-family: 'carlitobold';
    src: url('font/carlito-bold-webfont.woff2') format('woff2'),
         url('font/carlito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'carlitoregular';
    src: url('font/carlito-regular-webfont.woff2') format('woff2'),
         url('font/carlito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Extra Aesthetic Functionality */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.landing-socials i:hover {
    opacity: .5;
}

.un-animation {
    display: inline-block;
    position: relative;
}

.un-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    margin-left: 1.2px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.un-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*-----------------------------------*/

/* Animation Section */
body {
    position: relative;
    -webkit-animation-name: topbot;
    -webkit-animation-duration: 2s;
    animation-name: topbot;
    animation-duration: 1.7s;

}

@-webkit-keyframes topbot {
    from {top: -75px; opacity: 0}
    to {top: 0px; opacity: 1}
}

@keyframes topbot {
    from {top: -75px; opacity: 0}
    to {top: 0px; opacity: 1}
}

/*-----------------------------------*/

a {color: inherit;}
a:hover {color: inherit;}

.source-links {
    text-decoration: underline;
}


/* Sitewide CSS Settings */

.container-fluid.portfolio {
    width: 65%;
}

.container-fluid {
    width: 75%;
}

/* ---------------------- */

/* Landing Section */

.landing {
    margin-top: 5%;
}

.portrait {
    width: 90%;
    padding-top: 75px;
   
}

.landing-img {
    margin-left: 25%;
    width: 29em;
}

.landing-socials i {
    padding-top: 2%;
    margin-right: 4%;
    
}

.my-info {
    font-size: 21.5px;
    letter-spacing: -1px;
}


.my-info h1{
    font-size: 60px;
}


/* -------------------- */



/* Navbar Section */

.navbar {
    margin-top: 4%;
    margin-left: 12.5%;
    max-width: 72%;
}


.navbar-nav a{
    margin-top: 5%;
    font-family: "carlitoregular";
    font-size: 22px;
}


.navbar-brand{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -1px;
 }

/* --------------------------- */


/* Resume Styling */

.section-item {
    border-left: 2px solid grey;
    padding-left: 15px;
    padding-bottom: 10px;
    height: 100%;
}

.section-item > h5{
    line-height: 80%;
}

.section-col {
    padding: 25px 0 5px 0;
}

.section-col ul {
    padding-left: 20px;
}

.section-name {
    color: rgb(60,62,62);
    text-decoration: underline;
    letter-spacing: -1.0px;
}

.section-col .section-item:last-child {
    height: auto;
    
}

.section-header {
    text-align: left;
    margin-top: 2%;
    margin-left: 13.4%;
    
}

.section-header h3 {
    font-size: 40px;
    letter-spacing: -1.5px;
}

.section-header h4 {
    color: gray;
}

.section-item:before{
    content: " ";
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    border: 3px solid black;
    width: 15px;
    height: 15px;
    left: 0.55em;
}

.resume {
    padding-bottom: 100px;
}

.sk-icons i {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.sk-icons span {
    margin-right: 3%;
}

.ind-skills {
    margin-top: 5%;
    
}

.course-list li {
    padding-bottom: 7px;
}

/* ----------------------------*/



/* Portfolio Section */

.carousel {
    height: 450px;
    margin-top: 30px;
    max-width: 90%;
}


.fa-arrow-right, .fa-arrow-left {
    color: black;
}

.carousel-control-prev, .carousel-control-next {
    top: 70%;
    bottom: 30%;
}

.tech {
    text-align: center;
    padding-top: 20px;
}

.lan-use {
    display: inline;
}

.ddrbot {
    width: 100%;
}

.my-site {
    width: 100%;
}

.covidapp {
    width: 95%;
}

/* ------------------------*/

/* Artwork Section TO BE UPDATED */

.artwork-section {
    padding-top: 13em;
    display: block;
    letter-spacing: -1px;
    line-height: 12;
}

/* ------------------------ */

@media (max-width: 992px) {  
    .landing {
        text-align: center;
        margin: auto;
        padding-top: 15%;
    }

    .landing-img {
        margin-right: 20%;
    }

    .my-info {
        font-size: 20px;
    }
    .my-info h1 {
        font-size: 45px; 
    }

    .section-header {
        text-align: center;
        margin-top: 5%;
        margin-right: 13.3%;
    }
    
    .section-name {
        text-align: center;
    }

    .navbar {
        text-align: center;
    }

}

@media (max-width: 576px) {
    .tech i {
        font-size: 2.5em;
    }
    
}