@font-face {
    font-family: 'carlitobold';
    src: url('font/carlito-bold-webfont.woff2') format('woff2'),
         url('font/carlito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'carlitoregular';
    src: url('font/carlito-regular-webfont.woff2') format('woff2'),
         url('font/carlito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {color: inherit;}
a:hover {color: inherit;}

.body {
    font-family: "carlitobold";
}

.navbar-nav a{
    font-family: "carlitoregular";
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.contact-header {
    text-align: center;
}


.section-item {
    border-left: 2px solid grey;
    padding-left: 15px;
    height: 120px;
    
}

.section-item > h5{
    line-height: 80%;
}

.section-col {
    padding: 25px 0 5px 0;
    margin-left: 55px;
}

.section-col .section-item:last-child {
    height: 70px;
}

.section-header {
    text-align: center;
    padding-top: 20px;
    
}

.section-header h2 {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}

.section-header h2:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid;
}

.section-item:before{
    content: " ";
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    border: 3px solid black;
    width: 15px;
    height: 15px;
    left: 64px;
}

.but {
    text-align: center;
    padding-top: 20px;
}

.resume {
    padding-bottom: 100px;
}

.mini-social {
    padding-bottom: 20px;
}

.contact-form {
    padding-top: 40px;
    
}
.piss {
    display: inline-block;
}
legend {
    font-family: "carlitoregular";
    background-color: #2a2f33;
    color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 38px;
    padding: 3px 10px;
}

fieldset {
    border: 1.5px solid !important;
    padding: 20px 45px 45px 45px;
}

.my-info {
    font-size: 25px;
    letter-spacing: -1px;
}

.about-btn {
    font-family: carlitoregular;
    background-color: black;
    color: white;
    padding: 15px;
    border-color: black;
    transition-duration: 0.4s;
}

.about-btn:hover {
    background-color: #ffffff;
    color: black;
    border-color: black;
}

.site-logo img {
    width: 70%;
}

.infoMe {
    background-color: #1e1d24;
    color: white;
    font-size: 20px;
}

.portrait {
    width: 90%;
    padding-top: 75px;
   
}

.about-section {
    padding-bottom: 200px;
}

.about-section .section-header {
    padding-bottom: 20px;
}

.more-info {
    text-align: center;
    padding-top: 20px;
}

.img-div {
    border-bottom: 1px solid;
    margin-top: 30px;
    width: 75%
}

.tech {
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
}

.lan-use {
    display: inline;
}

.an {
    margin-top: 50px;
}

.soup {
    position:relative;
    bottom: 10px;
    width: 35%;
}

.an-logo {
    padding-bottom: 15px;
    width: 12%;

}

@media (min-width: 768px) {  
    .nav-item:not(:last-child):after{
        content: "|";
        padding-left: .85em;
    }
    .add-contact {
        padding: 20px;
    }
    
}
