body{
    font-family: 'Quicksand', sans-serif;
    
}


.btn-circle {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.btn-circle.me {
    background-image: url(me.png);
    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: 50px 50px;
}

.btn-circle.music {
    background-image: url(music.png);
    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: 30px 30px;
}

.btn-circle.github {
    background-image: url(gh.png);
    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: 40px 40px;
}

.btn-circle.linkedin {
    background-image: url(in.png);
    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: 35px 35px;
}

.btn-circle.insta {
    background-image: url(insta.png);
    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: 35px 35px;
}

.btn-circle.draw {
    background-image: url(brush.png);
    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: 35px 35px;
}

.carousel {
    padding: 30px;
    margin: auto;
    width:540px;
    height:260px;
  }

.carousel-inner{
    border-style: solid;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(100%);
    margin-top: 290px;
    width: 50%;
    height: 50%;

}

.carousel-control-prev-icon{
    margin-right: 55px;
}

.carousel-control-next-icon{
    margin-left: 55px;
}

.self-image{
    margin-top: 15%;
    margin-left: 100%;
    width: 85%;
    height: auto;
}

.headline{
    font-size: 60px;
    margin-top: 300px;
    margin-left: 10%;
}

.what {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

